# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Media Files (optional)
media/
staticfiles/

# Database (optional for learning, usually ignored in production)
db.sqlite3

# IDE
.vscode/
.idea/